name: CD
run-name: ${{inputs.destroy && 'Destroy' || 'Deploy to' }} ${{ inputs.env }} by ${{ github.actor }}

on:
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment (dev, test, prod)'
        required: true
        type: choice
        options:
          - dev
          - test
          - prod
      destroy:
        description: 'Destroy infrastructure'
        required: false
        type: boolean
        default: false

permissions:
  id-token: write
  contents: read

jobs:
  plan:
    name: Terraform Plan
    uses: ./.github/workflows/tf-plan-template.yml
    with:
      env: ${{ inputs.env }}
      destroy: ${{ inputs.destroy }}

  apply:
    name: Terraform Apply
    needs: plan
    uses: ./.github/workflows/tf-apply-template.yml
    with:
      env: ${{ inputs.env }}
